body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.header {
    height: 90px;
    background-color: navy;
}

.main {
    height: 600px;
    background-color:rgb(81, 102, 116);
}

.footer {
    height: 90px;
    background-color: aliceblue;
}

.header-logo {
    color:lightsteelblue;
    font-size: 35px;
    float: left;
    padding: 20px;
}

.diary {
    margin: 100px 500px 0 500px;
    padding: 100px;
    border-radius: 10px;
    border: 0;
}

::placeholder {
	text-align: center;
}

.post-button {
    padding: 5px 10px;
    margin-left: 795px;
    background-color: white;
    border: none
}

.header-word {
    float: right;
    color:cornsilk;
    padding: 20px 10px 30px 0px;
}

.footer-logo {
    text-align: center;
    padding-top: 20px;
}